In [6]:
import pandas as pd
df=pd.DataFrame({"age":[19,55,45,40,29,17],"insurance":[0,1,1,1,0,0]})

In [7]:
df

   age  insurance
0   19          0
1   55          1
2   45          1
3   40          1
4   29          0
5   17          0

In [8]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(df[['age']],df[['insurance']],test_size=0.2,random_state=5)
xtrain

   age
4   29
1   55
0   19
3   40

In [9]:
from sklearn import tree

In [10]:
model=tree.DecisionTreeClassifier()

In [11]:
model.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [12]:
ypred=model.predict(xtest)
ypred

array([0, 1], dtype=int64)

In [14]:
from sklearn import metrics
metrics.accuracy_score(ytest,ypred)

1.0