In [1]:
import pandas as pd

In [9]:
df=pd.DataFrame({"town":['robinsville','monroe township','robinsville','monroe township','robinsville','west windsor','west windsor']})

In [10]:
df

              town
0      robinsville
1  monroe township
2      robinsville
3  monroe township
4      robinsville
5     west windsor
6     west windsor

In [13]:
# Dummy method
pd.get_dummies(df['town'],drop_first=True)

   robinsville  west windsor
0            1             0
1            0             0
2            1             0
3            0             0
4            1             0
5            0             1
6            0             1

In [14]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(df['town'])

array([1, 0, 1, 0, 1, 2, 2])

In [20]:
# One Hot Encoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
encoder = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')
encoder.fit_transform(df)

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.]])