In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame({"area":[2600,3600,2000,4000,5000,3900],"age":[10,15,25,20,9,17],"price":[500000,550000,300000,600000,900000,580000]})
df

   area  age   price
0  2600   10  500000
1  3600   15  550000
2  2000   25  300000
3  4000   20  600000
4  5000    9  900000
5  3900   17  580000

In [9]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(df[['area','age']],df[['price']],test_size=0.2,random_state=5)

In [13]:
# Ridge
from sklearn import linear_model
model=linear_model.Ridge(alpha=50,max_iter=100,tol=0.1)
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.8737874211780533

In [12]:
# Lasso
from sklearn import linear_model
model=linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)
model.fit(xtrain,ytrain)
model.score(xtest,ytest)

0.6478946433831285

### Lasso for Feature Selection

In [17]:
model.coef_

array([[  164.98337862, -8204.75058485]])

In [18]:
# we can remove features having zero value