In [1]:
import pandas as pd

In [3]:
df=pd.DataFrame({"area":[2600,3600,2000,4000,5000,3900],"age":[10,15,25,20,9,17],"price":[500000,550000,300000,600000,900000,580000]})

In [4]:
df

   area  age   price
0  2600   10  500000
1  3600   15  550000
2  2000   25  300000
3  4000   20  600000
4  5000    9  900000
5  3900   17  580000

In [6]:
from sklearn.model_selection import train_test_split

In [12]:
xtrain,xtest,ytrain,ytest=train_test_split(df[['area','age']],df[['price']],test_size=0.2,random_state=5)

In [13]:
xtrain

   area  age
4  5000    9
1  3600   15
0  2600   10
3  4000   20

In [17]:
from sklearn import linear_model

In [18]:
model=linear_model.LinearRegression()

In [19]:
model.fit(xtrain,ytrain)

LinearRegression()

In [34]:
xtest

   area  age
5  3900   17
2  2000   25

In [39]:
model.predict(xtest)

array([[606595.57661927],
       [185538.44128489]])

In [24]:
from sklearn import metrics

In [38]:
model.score(xtest,ytest)

0.6477353796121195